@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

ul, ol {
    list-style-type: none;
    padding: 0;
}

header {
    padding: 30px;
    font-family: 'Helvetica Neue', sans-serif;
    color: #757575;
    font-size: 13px;
    background-color: white;
    
}

.logo__poloit {
    max-width: 260px;
}

@media (max-width: 450px) {
    .logo__poloit {
        width: 60px;
    }

    header {
        padding: 5px;
        display: grid;
        place-items: center;
    }
}
