@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* Topografías */
    --primary-font: 'Inter', sans-serif;

    /* Tamaños de letras */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3.0em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /* Espacios */
    --espacio-128: 12.8rem;
    --espacio-68: 6.8rem;
    --espacio-36: 3.6rem;
    --espacio-28: 2.8rem;
    --espacio-16: 1.6rem;
    --espacio-12: 1.2rem;
    --espacio-8: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    padding-top: 20px;
}

.sidebar__box{
    font-family: var(--primary-font);
    display: flex;
    position: sticky;
    flex-direction: column;
    width: 200px;
    height: 700px;
    padding: var(--espacio-16);
    box-shadow: 0.1px 1px 10px black;
    border-radius: 10px;
}

.sidebar__title__max {
    font-weight: 600;
    font-size: var(--font-small);
}

.sidebar__title {
    margin-top: 10px;
    font-weight: 600;
    font-size: var(--font-xsmall);
}

.checkbox__styles {
    margin-right: 10px;
    appearance: none;
    cursor: pointer;
    background-color: rgb(213, 213, 213);
    width: 12px;
    height: 12px;
    border-radius: 3px;
    transition: .3s;
}

.checkbox__styles:checked{
    background-color: rgba(197, 42, 60);
}

.checkbox__styles:hover{
    background-color: rgb(165, 165, 165);
}

.mobile__toggler {
    display: none;
}

@media (max-width: 450px) {
    .mobile__toggler {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navCollaps .sidebar__title__max, .navCollaps .sidebar__title, .navCollaps label, .navCollaps input, .navCollaps p, .navCollaps .total__cards {
        display: none;
    }
    
    
    label {
        font-size: 13px;
    }

    .checkbox__styles {
        width: 8px;
        height: 8px;
    }

    .sidebar__title {
        font-size: 15px;
    }
    
    .sidebar__title__max {
        font-size: 17px;
    }

    .sidebar__text {
        font-size: 12px;
    }

    .sidebar__box {
        height: 600px;
        width: 200px;
        padding: 20px;
    }

    .navCollaps {
        width: 30px;
        height: 30px;
        display: absolute;
        position: sticky;
        top: 50px;
        left: 370px;
        z-index: 100;
        padding: 0;
    }

    .main {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.filter__desktop {
    display: none;
}

.filter__mobile {
    display: absolute;
    position: sticky;
    top: 50px;
    left: 370px;
    z-index: 100;
    background-color: white;
}
@media (min-width: 540px){
    .filter__mobile {
        display: none;
    }
    .filter__desktop {
        display: block;
    }
    .sidebar__box {
        height: 820px;
    }
}